body {
				color: #ffffff;
				font-family:Monospace;
				font-size:20px;
				text-align:center;
				font-weight: bold;

				background-color: #fff;
				margin: 0px;
				overflow: hidden;
				text
			}

			#info {
				color:#ccc;
				text-shadow: 1px 1px rgba(0,0,0,0.25);
				position: absolute;
				top: 0px; width: 100%;
				padding: 5px;
				text-align: top-center;

			}

			a {
				color: #fff;
				text-decoration: underline;
				cursor: pointer;
			}

			
			#stats { position: absolute; top:0; left: 0 }
			#stats #fps { background: transparent !important }
			#stats #fps #fpsText { color: #aaa !important }
			#stats #fps #fpsGraph { display: none }
